header {
	width: 100%;
	/* background-color: rgb(231, 255, 160); */
	background: linear-gradient(rgb(0, 115, 255), yellow);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;

}

.header__logo {
	color: black;
	font-size: 32px;
	line-height: 50px;
	margin: 25px 0;
	text-decoration: none;
}

.header-btn {
	margin: 0 5px;
}